@use './reset.scss';
@use './theme.scss';

// Page stuff
#page-container {
  position: relative;
  min-height: 100vh;
}

#content-wrap {
  padding-bottom: 2.5rem;    /* Footer height */
}

//  Header
.header {
    padding: 8px;
    background-color: theme.color('primary', 'base');
    color: theme.color('scale', 'light');
}


.header ul {
    text-align: right;
    list-style: none;
    margin-top: -35px;
}

.header ul li {
    display: inline-block;
    padding-left: 10px;
}

.header ul li:last-child{
    padding-right: 10px;
}

.header a {
  color: theme.color('primary', 'light') ;
  -o-transition:.5s;
  -ms-transition:.5s;
  -moz-transition:.5s;
  -webkit-transition:.5s;
  transition:.5s;
}
.header a:hover { color:theme.color('scale', 'light') };


.header a:link {text-decoration:none;}
.header a:visited {text-decoration:none;}
.header a:hover {text-decoration:none;}
.header a:active {text-decoration:none;}

// Footer
#footer {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 2.5rem;            /* Footer height */
  padding: 8px;
  background-color: theme.color('primary', 'base');
  color: theme.color('scale', 'light');
  text-align: center;
}

.footer-url {
   background-color: theme.color('primary', 'base');
   color: theme.color('scale', 'light');
}

// Search
.content {
    .searcher {
        padding: 8px;
        background-color: theme.color('primary', 'light');

        > * {
            margin-right: 8px;
        }
    }

    .results {
        padding: 8px;
    }

    .selector {
        padding-left: 4px;
        padding-bottom: 8px;
        background-color: theme.color('primary', 'light');
        color: theme.color('scale', 'light');
    }

}

// MEDIA
.media-card {
    @include theme.text-setting('sm');
    display: flex;
    border: 1px solid theme.color('primary', 'light');
    padding: 8px;
    height: 120px;

    .media-image {
        width: 60px;
    }

    .media-info {
        display: flex;
        flex-direction: column;
        padding-left: 8px;
    }

    .media-status {
        display: flex;
        flex-direction: row;
        color: theme.color('primary', 'base');
        top: 4px;
        font-weight: bold
    }

    .media-recommend {
        margin-left: 10px;
    }
}

.media-card-long {
    height: 130px;
}

// Users

.user-card {
    @include theme.text-setting('sm');
    display: flex;
    border: 1px solid theme.color('accent', 'light');
    padding: 8px;
    height: 60px;

    .user-info {
        display: flex;
        flex-direction: column;
        padding-left: 8px;
    }

    .user-button-wrapper {
        margin-left: 20px;
        position:relative;
        height:100%;
    }

    .user-button {
        transform: translateY(+25%);
        background-color: theme.color('accent', 'base');
        color: white;
        padding: 6px;
        border: none;
        cursor: pointer;
    }


    .user-button:hover {
        background-color: theme.color('accent', 'dark');
    }

    .user-status {
        transform: translateY(+50%);
        display: flex;
        flex-direction: row;
        color: theme.color('accent', 'base');
        font-weight: bold;
        border: none;
    }
}

.media-card-long {
    height: 130px;
}


// Dropdown

.dropbtn {
  background-color: theme.color('primary', 'base');
  color: white;
  padding: 6px;
  border: none;
  cursor: pointer;
}

.dropbtn-existing-status {
  background-color: theme.color('scale', 'light');
  color: theme.color('primary', 'base');
  font-weight: bold;
  padding: 5px;
  border: 1px solid theme.color('primary', 'base');
  cursor: pointer;
}

/* The container <div> - needed to position the dropdown content */
.dropdown {
  position: relative;
  display: inline-block;
  color: theme.color('primary', 'base');
  top: 4px;
  font-weight: bold
}

/* Dropdown Content (Hidden by Default) */
.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  min-width: 100px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}

/* Links inside the dropdown */
.dropdown-content p {
  color: black;
  padding: 8px 8px;
  text-decoration: none;
  display: block;
}

/* Change color of dropdown links on hover */
.dropdown-content p:hover {background-color: #f1f1f1}

/* Show the dropdown menu on hover */
.dropdown:hover .dropdown-content {
  display: block;
  cursor: pointer;
}

/* Change the background color of the dropdown button when the dropdown content is shown */
.dropdown:hover .dropbtn {
  background-color: theme.color('primary', 'light');
}

.dropdown:hover .dropbtn-existing-status {
  background-color: theme.color('primary', 'light');
}

// User
#user-profile {
    padding: 8px;
    background-color: theme.color('primary', 'light');
    color: theme.color('scale', 'light');
}

// Tabs
/* Style the tab */
.tab {
  overflow: hidden;
  border: 1px solid #ccc;
  background-color: #f1f1f1;
}

/* Style the buttons that are used to open the tab content */
.tab button {
  background-color: inherit;
  float: left;
  border: none;
  outline: none;
  cursor: pointer;
  padding: 14px 16px;
  transition: 0.3s;
}

/* Change background color of buttons on hover */
.tab button:hover {
  background-color: #ddd;
}

/* Create an active/current tablink class */
.tab button.active {
  background-color: #ccc;
}
